.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background: #141414;
  padding: 30px;
  width: 150px;
  text-align: center;
  border-radius: 12px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 60px;
}

.feature {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  opacity: 0.6;
}
